// Colors
    $brand-color: hsl(38, 97%, 50%);
    $dark-color: hsl(240, 6%, 10%);
    $mid-color: hsl(240, 5%, 50%);
    $light-color: hsl(0, 0%, 97%);
    $opacity: hsla(0, 0%, 0%, 0.7);
    $dark-op: hsla(240, 6%, 15%, 0.9);
    $light-op: hsla(0, 0%, 97%, 0.95);

// Fonts
    $oswald: 'Oswald', sans-serif;
    $quattro-sans: 'Quattrocento Sans', sans-serif;
    $quattro: 'Quattrocento', serif;

// Breakpoints
    $breakpoints-up: ('small': '576px', 'medium': '768px', 'large': '992px', 'extra-large': '1200px');
    $breakpoints-down: ('small': '575px', 'medium': '767px', 'large': '991px', 'extra-large': '1199px');



